* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: lightgrey;
  font-family: 'Roboto', sans-serif;
}

.layout {
  background: grey;
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.layout:after {
  content: "";
  display: table;
  clear: both;
}

.bck {
  background: white;
  border-radius: 2px;
}

header {
  float: left;
  width: 40%;
}

main {
  float: right;
  width: 60%;
}

.up, .down {
  width: 100%;
  margin-bottom: 10px;
}

.up img {
  width: 70px;
  border-radius: 60px;
}
